/* CSS Variables */

:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* html config */
html {
	box-sizing: border-box;
	font: Arial, Helvetica, sans-serif;
	color: var(--dark);
}

/* Body config */
body {
	background: #ccc;
	margin: 30px 50px;
	line-height: 1.4;
}

/* img global config */
img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
}

/* Navigation Bar */
#navbar {
	display: block;
	overflow: left;
	background-color: var(--dark);
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar a:hover {
	background: var(--light);
	color: var(--dark);
}

#navbar p {
	position: fixed;
	top: 0;
	right: 0;
	color: var(--primary);
	text-align: right;
	width: 100%;
	padding: 0px 16px;
	font-size: 1.4em;
}

/* h2 global config */
h2 {
	text-align: center;
}

/* About Me */
#about-me {
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}

#weather {
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}

/* p global config */
p {
	font-size: 1.3em;
}

/* ul global config*/
ul {
	font-size: 1.3em
}

/* Skills */

#skills {
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}

.skills-container {
	text-align: center;
}

.skills-columns {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.skills-column {
	list-style: none;
	padding: 0;
}

.skills-column li {
	margin-bottom: 10px;
}

/* @media (max-width: 600px) {
	.skills-columns {
		flex-direction: column;
		align-items: center;
	}
	.skills-column {
		margin-bottom: 20px;
	}
} */
  

/* Portfolio/Projets */
#portfolio {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding: 3rem;
	background: var(--primary);
	box-shadow: var(--shadow);
}

#portfolio h1 {
	text-align: center;
}

#project_1{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding: 3rem;
	background: var(--primary);
	box-shadow: var(--shadow);
}

#project_2{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding: 3rem;
	background: var(--primary);
	box-shadow: var(--shadow);
}

#project_3{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding: 3rem;
	background: var(--primary);
	box-shadow: var(--shadow);
}

#project_4{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding: 3rem;
	background: var(--primary);
	box-shadow: var(--shadow);
}

#figcaption{
	font-style: italic;
	text-align: right;
	font-weight: bold;
}

#see-more{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding: 1rem;
	background: var(--primary);
	box-shadow: var(--shadow);
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

/* Contact */
#contact {
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}

#accounts {
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}

#linkedin {
	background: var(--primary);
	grid-gap: 30px;
	padding: 1rem;
	text-align: center;
	display: block;
	height: 100px;
	width: 100px;
}

#git {
	background: var(--primary);
	display: block;
	grid-gap: 30px;
	padding: 1rem;
	text-align: center;
	height: 100px;
	width: 100px;
}

/* Footer */
footer {
	margin-top: 2rem;
	background: var(--dark);
	color: var(--light);
	text-align: center;
	padding: 1rem;
}


/* Responsive Code */
@media(max-width: 700px) {
	#about-me {
		grid-template-columns: 1fr;
	}

	#skills {
		grid-template-columns: 1fr;
	}

	#contact {
		grid-template-columns: 1fr;
	}

	.skills-columns {
		flex-direction: column;
		align-items: center;
	}
	.skills-column {
		margin-bottom: 20px;
	}
}